// ==========================================================================
// =========          Color Variables        ==========
// ==========================================================================

$theme-hue: 52;

$color1: hsl($theme-hue, 76%, 67%);
$color2: #000000;
$color3: hsl(0, 0%, 14%);
$color4: hsl(0, 0%, 100%);
$color5: hsl(0, 0%, 91%);
$color6: hsl(150, 10%, 96%);

// ---- Buttons ----
$btn-primary-bgColor: $color2;
$btn-primary-txtColor: $color6;

// ---- Texts ----
$txt-defaultColor: $color2;
$txt-secondColor: $color3;
$txt-thirdColor: $color5;

//background
/* $bg-nav: hsla($theme-hue, 89%, 30%, 1); */

// ==========================================================================
// =========          Font-family Variables        ==========
// ==========================================================================

$ff-primary: "Poppins", sans-serif;

// ==========================================================================
// =========          Font-size Variables         ==========
// ==========================================================================

$fs-semi-regular: 0.875rem;
$fs-regular: 1rem;
$fs-semi-large: 1.25rem;
$fs-large: 1.5rem;
$fs-semi-enormous: 2rem;
$fs-enormous: 2.5rem;
$fs-giant: 5rem;

// ==========================================================================
// =========          Font-weight Variables        ==========
// ==========================================================================

$fw-semi-regular: 300;
$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;
$fw-very-bold: 900;

// ==========================================================================
// =========          Spacing Variables        ==========
// ==========================================================================

$spacing-margin: 3rem;

// ==========================================================================
// =========          Others         ==========
// ==========================================================================

$border-radius1: 8px;
$border-radius2: 16px;
$border-radius3: 28px;

// ==========================================================================
// =========          Media Queries        ==========
// ==========================================================================
