.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  margin-top: 3rem;
  &-logo {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-links {
    grid-column: 3/4;

    .links {
      @include flexcentered;
      gap: 3rem;
    }
    align-self: center;
    justify-self: end;
  }

  &-cta {
    grid-column: 4/5;
    @include center-element;
    justify-self: right;
  }
}
